{{define "content"}}
  <div class="sub-header">
    <div class="inner">
      <h2>Edit {{.Gist.Title}}</h2>
    </div>
  </div>

  <div class="main">
    <form action="/gists/{{.Gist.ID}}" method="post">
      {{ template "gists/form" . }}
      <input type="submit" value="Update">
    </form>
  </div>

  {{ template "gists/ace" }}
{{end}}
