<div class="sub-header">
  <div class="inner">
    <h2>Gists</h2>
  </div>
</div>

<div class="main">
  {{if .Gists}}
    {{range .Gists}}
      <h5><a href="/gists/{{.ID}}">{{.Title}}</a></h5>

      <div class="gist">
        <a href="/gists/{{.ID}}" class="link-overlay"></a>
        {{.Markdown}}
      </div>
    {{end}}
  {{else}}
    <p>You haven't created any Gists yet.</p>
  {{end}}
</div>
