<div class="sub-header">
  <div class="inner">
    <h2>New Gist</h2>
  </div>
</div>

<div class="main">
  <form action="/gists" method="post">
    {{ with .Gist.Errors.Title }}
      <p class="error">{{ . }}</p>
    {{ end }}
    <input type="text" name="title" value="{{.Gist.Title}}" placeholder="Title">
    {{ with .Gist.Errors.Content }}
      <p class="error">{{ . }}</p>
    {{ end }}
    <textarea name="content" placeholder="Content">{{.Gist.Content}}</textarea>
    <input type="hidden" name="csrf_token" value="{{.Token}}">
    <input type="submit" value="Save">
  </form>
</div>
