{{define "content"}}
  <div class="sub-header">
    <div class="inner">
      <h2>{{.Gist.Title}}</h2>
      <a href="/gists/{{.Gist.ID}}/edit" class="button">Edit Gist</a>
    </div>
  </div>

  <div class="main">
    {{.Gist.Markdown}}
  </div>
{{end}}
