body {
  margin: 0 0 40px 0;
  font-family: Helvetica, sans-serif;
}

.header {
  background: #f6f6f6;
  border-bottom: solid 1px #e5e5e5;
  height: 40px;
  line-height: 40px;
}

.header a {
  color: #333;
}

a {
  color: #4183C4;
  text-decoration: none;
}

a:hover {
  color: #4183C4;
}

.header img {
  border-radius: 3px;
  float: left;
  margin-top: 10px;
}

.header .inner, .sub-header .inner, .flash .inner {
  margin: 0 auto 0 auto;
  width: 70%;
}

.header h1 {
  margin: 0;
  font-size: 22px;
  float: left;
}

.header .nav {
  float: right;
  font-size: 12px;
  text-align: right;
}

.header .nav a {
  margin-left: 10px;
  font-weight: 700;
}

.main {
  width: 70%;
  margin: 0 auto 0 auto;
}

.sub-header {
  background: #fcfcfc;
  border-bottom: solid 1px #e5e5e5;
  padding: 20px 0 20px 0;
  margin-bottom: 40px;
  overflow: auto;
}

.sub-header h2 {
  margin: 0;
  font-weight: 300;
  float: left;
}

.sub-header .button {
  float: right;
  margin-left: 10px;
}

.flash {
  background: #6BB673;
  bottom: 0;
  color: white;
  font-size: 12px;
  font-weight: 300;
  padding: 15px 0 15px 0;
  position: fixed;
  width: 100%;
  z-index: 9999;
}

.flash.error {
  background: #E13731;
}

.gist {
  padding: 20px;
  display: block;
  position: relative;
}

.gist img {
  width: 100%
}

.gist p {
  line-height: 25px;
}

.gist h1 {
  border-bottom: solid 1px #eee;
  padding-bottom: 15px;
}

.gist code {
  padding: 0.2em;
  background-color: #f4f4f4;
  border-radius: 3px;
}

.gist pre {
  background: #f7f7f7;
  padding: 16px;
  border-radius: 3px;
}

.gist.show {
  border: solid 1px #ddd;
  border-radius: 3px;
}

.link-overlay {
  border: solid 1px #ddd;
  border-radius: 3px;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 50;
}

.link-overlay:hover {
  border-color: #97C7DD;
}

label {
  display: block;
}

input[type="text"], input[type="email"], input[type="password"], textarea {
  border: solid 1px #ccc;
  border-radius: 3px;
  background: #fafafa;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
  box-sizing: border-box;
  color: #333;
  display: block;
  font-size: 14px;
  width: 100%;
  padding: 7px 8px;
  margin-bottom: 20px;
}

input[type="checkbox"] {
  margin-bottom: 20px;
}

#editor {
  position: relative;
  height: 400px;
  width: 100%;
  border: solid 1px #ccc;
  border-radius: 3px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
  box-sizing: border-box;
  color: #333;
  display: block;
  font-size: 12px;
  width: 100%;
  padding: 7px 8px;
  margin-bottom: 20px;
}

.ace-github .ace_gutter {
  background: white !important;
  border-right: solid 1px #EEEEEE;
}

.ace_active-line, .ace_gutter-active-line {
  background: #F5F5F5 !important;
}

input[type="submit"], .button {
  background-image: linear-gradient(#fcfcfc, #eee);
  background-color: #eee;
  border: solid 1px #d5d5d5;
  border-radius: 3px;
  cursor: pointer;
  font-weight: 700;
  font-size: 13px;
  padding: 7px 12px;
}

a.button {
  color: #333;
  text-decoration: none;
}

input[type="submit"].danger, .button.danger, a.button.danger {
  color: #990000;
}

input[type=submit]:hover, .button:hover {
  background: #e2e2e2;
}
