{{define "base"}}
  <!DOCTYPE html>
  <html>
    <head>
      <meta charset="UTF-8">
      <title>Badger</title>
      <link rel="stylesheet" href="/app.css" media="screen" charset="utf-8">
    </head>
    <body>
      <div class="header">
        <div class="inner">
          <h1><a href="/">Badger</a></h1>
          {{if .CurrentUserID}}
            <a href="/logout">Logout</a>
          {{end}}
        </div>
      </div>

      {{.Flash}}

      {{template "content" .}}
    </body>
  </html>
{{end}}
