{{define "content"}}
  <h1>Signup</h1>

  <form action="signup" method="post">
    <input type="email" name="email" value="{{.User.Email}}" placeholder="Email">
    {{ with .User.Errors.Email }}
      <p class="error">{{ . }}</p>
    {{ end }}
    <input type="password" name="password" placeholder="Password">
    {{ with .User.Errors.Password }}
    <p class="error">{{ . }}</p>
    {{ end }}
    <input type="password" name="password_confirmation" placeholder="Password Confirmation">
    <input type="hidden" name="csrf_token" value="{{.Token}}">
    <input type="submit" value="Signup">
  </form>
{{end}}
